@{
    ViewData["Title"] = "Admin page";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Admin home page.</p>
</div>

<div class="parallax"></div>

<div class="container text-wrapper">
    <h2>Dobrý den</h2>
    <h4>Tohle je podnadpis</h4>
    <p class="mt-4">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nulla non arcu lacinia neque faucibus fringilla. Suspendisse sagittis ultrices augue. Nullam sit amet magna in magna gravida vehicula. In enim a arcu imperdiet malesuada. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Nunc dapibus tortor vel mi dapibus sollicitudin. Morbi scelerisque luctus velit. Etiam commodo dui eget wisi. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam posuere lacus quis dolor.
    </p>
</div>