@using eshop_srytr.Areas.Admin.Controllers
@model ProductItem;

@{
    if (String.IsNullOrWhiteSpace(ViewBag.Action) == false)
    {
    <form asp-action="@ViewBag.Action" method="post" enctype="multipart/form-data">
        @{
            if (ViewBag.Action == nameof(ProductController.Edit))
            {
                <input type="hidden" asp-for="ID" class="form-control" />
            }
        }

    <div class="form-group">
        <label asp-for="Name">Product name</label>
        <input asp-for="Name" required type="text" class="form-control" placeholder="Enter poduct name">
        <div class="form-group">
            <label asp-for="Image">Image source</label>
            <input asp-for="Image" required type="file" class="form-control-file" accept="image/*" placeholder="Enter image file">
        </div>
        <div class="form-group">
            <label asp-for="ImageAlt">Image Alt</label>
            <input asp-for="ImageAlt" type="text" class="form-control" placeholder="Enter Image Alt">
        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="text" class="form-control" placeholder="Enter Price">
        </div>
        <div class="form-group">
            <label asp-for="Info">Info</label>
            <input asp-for="Info" type="text" class="form-control" placeholder="Enter Product Info">
        </div>
    </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    }

}
