@using eshop_srytr.Areas.Admin.Controllers
@model ProductItem

@{
    ViewData["Title"] = "Edit product item";
}
<h1>@ViewData["Title"]</h1>


@{
    ViewBag.Action = nameof(ProductController.Edit);
}

<partial name="CreateEditForm" model="Model" />

